mat-grid-list {
    grid-auto-rows: minmax(50px, auto);
    grid-column-gap: initial

    /* Add other grid styles */
}

.title-tem > ::ng-deep .mat-figure {
  align-items: flex-start;
  justify-content: flex-start;
}

mat-grid-tile {
  background: lightblue;
  height: 60px;
  width: 110px;
  padding-top: calc(20.3333% - 0.666667px);
}

mat-grid-tile:hover {
    background: rgb(106, 192, 221);
}

img {
  object-fit: cover;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
  height: 220px;
  width: 360px;
}

img:hover {
    transform: scale(1.05);
}
