
.search-bar {
    width: auto; 
    background-color: #f5f5f5;
    border-radius: 20px;
    padding: 8px;
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 14px;
    background: none;
  }
  
  .search-bar button {
    color: #333;
    cursor: pointer;
    border: none;
    background-color: #f0eaea86;; 
    padding: 0 8px; 
  }