/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dark-theme {
  background-color: #121212;
  color: #ffffff;
  transition: background-color 0.5s, color 0.5s;
  height: 0px;
}

  .dark-theme .wider-content {
    background-color: #2e2d2d94;
    color: #ffffff;
    transition: background-color 0.5s, color 0.5s;
  }

  .dark-theme .info-panel-container {
    background-color: #2e2d2d94;
    color: #1f1e1e;
  }

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}
